@font-face {
    font-family: ZX Spectrum;
    src: url('../_fonts/zxspectr.ttf');
}
html, body, div {
    margin: 0;
    padding: 0;
    border: 0;
}
html {
    background: #fff; /* url("../_img/background_loading.gif") repeat left top; */
    font-family: "ZX Spectrum", monaco, "courier new", courier, monospace;
    font-size: 24px;
    line-height: 1.0;
    min-width: 480px;
    min-height: 512px;
}
body {
    width: 32em;
    height: 24em;
    margin-top: -12em;
    margin-left: -16em;
    padding: 0;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    display: table;
    background-color: white;
}
a {
    text-decoration: none;
    background-color: #0000c0;
    color: #fff;
}
#zx_spectrum {
    float:left;
}
.carattere {
    float: left;
    /*background-color: red;*/
}
.highlight {
    background-color: #ffff00;
}